.sidebarC { 
    background-color:#505050; 
    color: white;
    position:relative;

    header { 
        position:relative;
        background-color: #690800;
        height:110px; 
        font-size:1.25rem;
        @include addMargins(-15px -15px -15px -15px);

        p { 
            display:inline;
            padding-left:10px;
        }
    }
}

.sNav { 
    font-size:1.45rem; 

    ul { 
        @include addMargins(5px -15px 5px 0px);

        li { 
            @include addMargins(13px 0px 0px 0px);
            padding:12px 0 12px 14%; 
        }

        li:hover { 
            background-color:#333; 
            cursor:pointer; color:white; 
        }
    }

    i, span { 
        @include addMargins(0px 10px 0px 0px);
    }
}

.profileImg {
    border: 3px solid white;
}

.imgText {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left:12%;
}